@font-face {
	font-family: comissioner;
	src: url("../fonts/commissioner.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
}

* {
	text-decoration: none;
	outline: none;
	border: none;
	color: var(--text);
	transition: 0.1s ease-out;
}

html {
	width: 100%;
	height: 100%;
	filter: blur(var(--blur, unset)) contrast(var(--contrast, unset));
}

body {
	zoom: var(--zoom, 1);
	margin: 0;
	margin-left: var(--left, unset);
	margin-top: var(--top, unset);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: black;
	filter: blur(var(--blur, 3px)) contrast(var(--contrast, 30));
}

header {
	z-index: 1000;
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

header>h1 {
	margin: 0;
	margin-left: var(--left, unset);
	margin-top: var(--top, unset);
	width: max-content;
	opacity: var(--opacity, 1);
	line-height: 0;
	white-space: nowrap;
	font-size: 15rem;
	font-weight: var(--font-weight, 900);
	font-family: var(--font, 'Commissioner'), Roboto, sans-serif;
	text-shadow: var(--text-shadow, 'unset');
}

canvas {
	transform: scale(var(--scale, 1));
	filter: url("#blob");
}
